.cartWrap{
	padding: 0;
	list-style-type: none;
	background-color: #FFF;
}
.cart {
	padding: 1em 0;
}
.cart .items {
	display: block;
	width: 100%;
	vertical-align: middle;
	padding: 1.5em;
	border-bottom: 1px solid #fafafa;
}
.cart .items.even {
	background: #fafafa;
}
.cart .items .infoWrap {
	display: table;
	width: 100%;
}
.cart .items .cartSection {
	display: table-cell;
	vertical-align: middle;
}
.cart .items .cartSection .itemNumber {
	font-size: .75em;
	color: #777;
	margin-bottom: .5em;
}
.cart .items .cartSection h3 {
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .025em;
}
.cart .items .cartSection p {
	display: inline-block;
	font-size: .85em;
	color: #777777;
	font-family: "Montserrat", sans-serif;
}
.cart .items .cartSection p .quantity {
	font-weight: bold;
	color: #333;
}
.cart .items .cartSection p.stockStatus {
	color: #82CA9C;
	font-weight: bold;
	padding: .5em 0 0 1em;
	text-transform: uppercase;
}
.cart .items .cartSection p.stockStatus.out {
	color: #F69679;
}
.cart .items .cartSection .itemImg {
	width: 4em;
	float: left;
}
.cart .items .cartSection.qtyWrap, .cart .items .cartSection.prodTotal {
	text-align: center;
}
.cart .items .cartSection.qtyWrap p, .cart .items .cartSection.prodTotal p {
	font-weight: bold;
	font-size: 1.25em;
}
.cart .items .cartSection input.qty {
	width: 2em;
	text-align: center;
	font-size: 1em;
	padding: .25em;
	margin: 1em .5em 0 0;
}
.cart .items .cartSection .itemImg {
	width: 8em;
	display: inline;
	padding-right: 1em;
}


a.remove {
	text-decoration: none;
	font-family: "Montserrat", sans-serif;
	color: #ffffff;
	font-weight: bold;
	background: #e0e0e0;
	padding: .5em;
	font-size: .75em;
	display: inline-block;
	border-radius: 100%;
	line-height: .85;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	-ms-transition: all 0.25s linear;
	-o-transition: all 0.25s linear;
	transition: all 0.25s linear;
}
a.remove:hover {
	background: #f30;
}

@media only screen and (max-width: 39.375em) {

	.cart .items .cartSection {
		width: 90%;
		display: block;
		float: left;
	}
	.cart .items .cartSection.qtyWrap {
		width: 10%;
		text-align: center;
		padding: .5em 0;
		float: right;
	}
	.cart .items .cartSection.qtyWrap:before {
		content: "QTY";
		display: block;
		font-family: "Montserrat", sans-serif;
		padding: .25em;
		font-size: .75em;
	}
	.cart .items .cartSection.prodTotal, .cart .items .cartSection.removeWrap {
		display: none;
	}
	.cart .items .cartSection .itemImg {
		width: 25%;
	}

}
